*~
*.pyc
*.pyo
*.o
*,cover
*.gcda
*.gcno
*.gcov
.coverage
tests.log
\#*\#
.\#*

/build
/dist
/MANIFEST

/test/valid/*.[ch]
/test/ctest
/test/include

/doc/*.[ch]
/doc/trunnel.html
/doc/trunnel-manual.html
/doc/trunnel-manual.html.tmp
/doc/trunnel.txt
/examples/*.[ch]
/test/grammar.tmp

/.coverage

