*~
*.pyc
*.pyo
*.o
*,cover
*.gcda
*.gcno
*.gcov
.coverage
tests.log
\#*\#
.\#*

/build

/test/valid/*.[ch]
/test/ctest
/doc/*.[ch]
/doc/trunnel.html
/doc/trunnel.txt
/examples/*.[ch]
/test/grammar.tmp

/.coverage

